/* General Sidebar Container */
.sidebar {
    position: 'fixed';
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure it stays on top */  
    background-color: #e9e9e9; /* Light grey background */
    width: 280px;
    height: 100vh; /* Full height */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Pushes sign out to the bottom */
    border-right: 1px solid #dcdcdc; /* Subtle right border */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    padding:0; /* Vertical padding */
    box-sizing: border-box;

}

/* Top section containing logo and nav */
.sidebar-top {
    width: 100%;
}

/* Logo container */
.sidebar-logo {
    padding: 20px 30px;
    text-align: center;
    margin-bottom: auto;
    margin-top: 40px; /* Margin below the logo */
}

.sidebar-logo img {
    max-width: 150px;
    height: auto;
}

/* Divider line under the logo */
.sidebar-divider {
    border: 0;
    height: 1px;
    background-color: #d1d1d1;
    margin: 10px 25px 30px 25px; /* Margin top/bottom and left/right */
}

/* Navigation Links */
.sidebar-links {
    display: flex;
    flex-direction: column;
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    text-decoration: none;
    color: #333;
    font-size: 1.1rem;
    row-gap: 20px; /* Space between icon and text */
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    column-gap: 30px; /* Space between icon and text */
}

.nav-item:hover {
    background-color: #dcdcdc; /* Hover effect */
}

/* Style for the active NavLink */
.nav-item.active {
    background-color: #d1d1d1;
    font-weight: 500;
}

/* Icons within the nav links */
.nav-icon {
    font-size: 1.8rem;
    margin-right: 20px;
    flex-shrink: 0; /* Prevents icon from shrinking */
    color: #4a4a4a;
}

.nav-item span {
    font-size: 1.2rem;
}

/* Bottom section for the sign out button */
.sidebar-bottom {
    padding: 0px 30px 60px 30px; /* Padding for the bottom section */
}

.sign-out-button {
    text-align: center;
    font-size: 1.4rem;
    font-weight: normal;
    color: #000000;
    background-color: #cfcfcf;
    cursor: pointer;
    padding: 15px 0;
    transition: color 0.2s ease-in-out;
    border-style: solid;
    border-radius: 12px;
    border-color: #6b6b6b;
}

.sign-out-button:hover {
    color: #000;
    text-decoration: underline; /* Underline on hover */
    border-color: #000000;
    border-radius: 5px;
    border: 1px solid #000000;
    background-color: rgb(195, 15, 15);
}